In [3]:
import pandas as pd #loading the data
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}
df  =  pd.DataFrame(data)
df

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

- logic : the communication skill greater than 6

In [8]:
df['Communication']  >6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [10]:
st = [311,6]
def pp(st):
    if st[1]>6:
        return "yes" 
    else:
        return "no"

In [13]:
pp([200,8])

'yes'

machine Learning

# Algorithm,Model
- Decision tree classifier
- Available DTC

Decision tree classifier
- fit(features,target)/fit(inputs,outputs)
    - communication
    - placed
    features -2d array
    placed -1d array
- predict

In [16]:
df['Communication'].shape

(5,)

In [17]:
df[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [18]:
df[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9

In [28]:
import sklearn 
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(df[['Communication']],df['Placed'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
dtc.predict(df[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [30]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
df1 = pd.DataFrame(data3)
df1

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [ ]:
df

In [34]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(df1.iloc[:,1:3],df1['Marks'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
lr.intercept_

10.000000000000007

In [37]:
lr.predict(df1.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [46]:
def L(x):
    return x[1:]+x[0]
def R(x):
    return x[-1]+x[0:len(x)-1]
n = int(input())
list1 = [input() for i in range(n)]
for x in list1:
    if L(x) == R(x):
        print('Yes')
    else:
        print('no')

4
a
ab
abcd
aaaaa
Yes
Yes
no
Yes