## File Handiliing
- create
- write
- reading
- appending
- renaming

In [1]:
import os
os.rename("sample.txt","demo.txt")

## Tuple:

In [4]:
tup1 = (12,3,345.56,"abc",True)
print(tup1[2])

345.56

In [8]:
l = list(tup1)
l[2] = 100
tup1 = tuple(l)
tup1

(12, 3, 100, 'abc', True)

### Built-in methods:
- count()
- indext()

In [11]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [12]:
tup2 = (12,13,14,325)
a,b,c,d = tup2
print(d)

325

In [13]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [15]:
y = (10,)
type(y)

tuple

In [16]:
for ele in x:
    print(ele,end=" ")

10 20 30

## Set:
1. { }
2. no duplicate values
3. sets are not ordered
4. unindexed
5. Mutable

In [18]:
set1 = {1,2,3,4,35,4,24,2}
print(set1)

{1, 2, 3, 4, 35, 24}

In [21]:
for ele in set1:
    print(ele)

1
2
3
4
35
24

### Built-in functions
1. len()
2. min()
3. max()
4. set()

In [24]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 3, 4, 35, 24}
6
1
35

In [25]:
list1 = [1,2,3,4,56,12,1,2,3,4]
list1 = set(list1)
list1

{1, 2, 3, 4, 12, 56}

### Built-in methods:
 #### add
1. add()
 #### remove
2. pop()
3. remove()
4. discard()
5. clear()

In [41]:
set2 = set()
type(set2)

set

In [42]:
set2.add(12)
set2.add(22)
set2.add(23)
set2.add(24)
set2

{12, 22, 23, 24}

In [43]:
set2.pop()
set2

{12, 22, 23}

In [44]:
set2.remove(22)
set2

{12, 23}

In [46]:
set2.discard(12)

In [58]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}
print(A.union(B))
print(A.difference(B))
print(B.difference(A))
print(B.intersection(A))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [59]:
c = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(c))
print(A.issubset(B))
print(c.issuperset(A))
print(c.issuperset(B))
print(B.issuperset(A))

True
False
True
True
False

In [60]:
print(A.isdisjoint(B))

False

In [74]:
def greetPerson(*name):
    print('Hello', name)

greetPerson('puttur','tirupati')

Hello ('puttur', 'tirupati')